{{ 'main.css' | asset_url | stylesheet_tag }}
<div class="product">
  <div class="container"></div>
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}